body{font-family: 'Raleway', sans-serif;}



.part-a{display: flex;
       margin-bottom: 240px;}

.a-written{width: 50%;
          font-size: 50px;
          padding-left: 270px;
          padding-top: 150px;}
.a-written p{
            color:rgb(169, 164, 164);
            font-size: 30px;}

.a-pic{width: 50%;
       padding:0 270px 0 0;}



.a-button   {color: white;
            background-image:linear-gradient(orange,red);
            text-decoration: none;
            padding: 15px 50px;
            border-radius: 50px;
            font-size: 30px;}


#orange{color: orange;}






.part-b{display: flex;
        padding: 150px;
        background-image: url(images/shapes/7.png);}

.b-pic{width:50%;
       ;}

.b-written{width:50%;
          font-size: 30px;}



.part-c{font-size: 30px;}



.c-two{display: flex;
       }
.c-two-one{padding: 50px;
           width: 50%;
       padding: 150px;
       margin: 10px;
       box-shadow: 10px 10px 30px blue;
       border-radius: 30px;}










          
 
